body{
	background-image: url(../img/smoke.png);
	background-size: cover; 
	background-repeat: no-repeat;
}
body, section, footer{
	background-color: rgba(0, 0, 0, 0.6);
}
.logo{
	max-width: 100%;
	width: 400px;
	display: inline-block;
}
.bg-dark{
	background-color: rgba(86, 85, 85, 0.5);
}
a:hover{
	background-color:white;
	color: black;
	border-radius: 10px;
	display: inline-block;
	padding: 1%;
}
li{
	text-decoration: none;
}
.form-control{
	max-width: 300px;
	display: inline;
}
.text-white{
	color:#B8B8B8;
}
.navbar{
	border-radius: 5px;
}
.sep:after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
li{
	text-align: center;
	text-decoration: none;
	display: inline;
}
.video{
	padding: 10% 5%;
	background-color: rgba(86, 85, 85, 0.5);
}
span .fa {
	padding-left: 2%;
}
.titlecol{
	background-color: rgba(86, 85, 85, 0.8);
	color: white;
	display: inline-block;
	padding: 0 2%;
	border-radius: 5px;
	margin-bottom: 3%;
}
.fotogrupo{
	max-width: 100%;
}
.separacion{
	border-top: solid 10px;
	width: 100%;
}
.calendar{
	max-width: 100%;
	padding: 2%;
	display: inline-block;
}
.date{
	max-width: 100%;
	max-height: 100%;
	width: 80px;
	height: 80px;
	background-color: rgba(86, 85, 85, 0.5);
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 2%;
	border-radius: 10px;
}
.text-calendar{
	margin-left: 5%;
}
.nueva{
	padding: 2% 0;
}